body
{
    background-color: whitesmoke;
    letter-spacing: 5px;
    font-family: 'Inconsolata', monospace;
    font-size: 28px;
    color: dimgrey;
}

textarea
{
    width: 500px;
    height: 50px;
    font-family: 'Inconsolata', monospace;
    font-size: 23px;
}

#container
{
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

select
{
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
}

button
{
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    position: absolute;
    left: 1000px;
}