body
{
    background-color: whitesmoke;
    margin: 0 !important;
    color: whitesmoke;
    font-family: 'Dokdo', cursive;
    letter-spacing: 5px;
}

#header
{
    background-color: #ff4c4c;
    width: 100% !important;
    height: 80px;
    border-bottom: #575757 5px solid;
    box-shadow: #000000 2px 2px;
    text-align: center;
    font-size: 60px;
}

#gameField
{
    margin-top: 50px;
    width: 100%;
}

#board
{
    float: left;
    background-color: #ff4c4c;
    height: 700px;
    width: 1100px;
    border: #575757 5px solid;
    box-shadow: #000000 10px 5px;
    margin-left: 50px;
    margin-right: 50px;
}

#pipes-container-left
{
    margin-left: 8px;
    float: left;
    background-color: #c9e5ff;
    height: 700px;
    width: 300px;
    border: #575757 5px solid;
    box-shadow: #000000 10px 5px;
}

#pipes-container-right
{
    float: left;
    background-color: #c9e5ff;
    height: 700px;
    width: 300px;
    border: #575757 5px solid;
    box-shadow: #000000 10px 5px;
}

#footer
{
    margin-top: 58px;
    background-color: #4e4e4e;
    width: 100% !important;
    height: 40px;
    border-top: #575757 5px solid;
    box-shadow: #000000 2px 2px;
    text-align: center;
    font-size: 60px;
}
