<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Dokdo" rel="stylesheet">
    <link href="{{ url_for('static' , filename='game.css') }}" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js' defer></script>
    <script src='../static/js/game.js' defer></script>

</head>
<body>

    <div id="header">STEVE THE HAMSTER</div>

    <div id="gameField">
        <div id="pipes-container-left">
            <div id="column-left1" class="column-side"></div>
            <div id="column-left2" class="column-side"></div>
            <div id="column-left3" class="column-side"></div>

        </div>
        <div id="board">
            <div id="column1" class="column"></div>
            <div id="column2" class="column"></div>
            <div id="column3" class="column"></div>
            <div id="column4" class="column"></div>
            <div id="column5" class="column"></div>
            <div id="column6" class="column"></div>
            <div id="column7" class="column"></div>
            <div id="column8" class="column"></div>
            <div style="clear: both;"></div>
        </div>
        <div id="pipes-container-right">
            <div id="column-right1" class="column-side"></div>
            <div id="column-right2" class="column-side"></div>
            <div id="column-right3" class="column-side"></div>
        </div>
    </div>

    <div style="clear: both;"></div>
    <div id="footer"></div>

</body>
</html>