<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HAMSTER STEVE ROZPIERDOL</title>
    <link href="https://fonts.googleapis.com/css?family=Dokdo" rel="stylesheet">
    <link href="{{ url_for('static' , filename='index.css') }}" rel="stylesheet" type="text/css">

</head>
<body>
    <div id="container">
        <form action="/play">
            <br>
            <br>
            <input id="play-button" type="submit" value="ZABAW SIE Z CHOMICZKIEM">
        </form>
    </div>

</body>
</html>